body {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: #D0D066;
    --background-color: #333;
}


.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}



.theme-toggle-button .icon {
    margin-right: 1em;
    margin-left: .3em;
}

#moon{
    fill: #333;
}

#sun{
    fill: #FFFFFF;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
    transform: scale(1.1);
}


